body {
  margin: 0;
  background-color: #111;
  font-family: 'Courier New', monospace;
  position: relative;
  overflow-x: hidden;
}

html {
    margin: 0;
    overflow-x: hidden;
}

p {
    color: #fff;
}

footer {
    margin-left: 15%;
    margin-right: 15%;
    padding: 100px 0 15px 0;
    color: #949494;
}

footer img {
    max-height: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icons a {
    margin-right: 15px;
}

.leftPointer,
.rightPointer {
    position: fixed;
    top: 45%;
    max-width: 5%;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    z-index: 1000;
    pointer-events: auto;
}

.leftPointer {
    left: 5%;
    transform: translateX(-50px);
}

.rightPointer {
    left: 90%;
    transform: translateX(50px);
}

.show-pointer {
    opacity: 1;
    transform: translateX(0);
}

.scroll-lock {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#mainTitle {
    color: #fff;
    font-size: 7em;
    font-weight: 500;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0px;
    opacity: 1;
    transition: letter-spacing 0.1s, opacity 0.1s;
    pointer-events: none;
}

h1 {
    color: #fff;
}

.centerColumn {
    margin: 50px 15% 0 15%;
}

.grid {
    margin-top: 100vh;
    column-gap: 30px;
    grid-row-gap: 200px;
    grid-template-columns: 1.75fr;
    display: grid;
}

.projectContainer {
    border: 2px solid #fff;
    border-radius: 15px;
    flex-flow: column;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 40vh;
    max-height: 60vh;
    padding: 30px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    transition: opacity 0.5s, box-shadow 0.5s;

    background-color: #01010180;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* for Safari */
}

.faded {
  opacity: 0.5;
}

.projectContainer:hover {
    box-shadow: 0 0 86px 6px #56bbf570;
}

.projectContainerDetails h1 {
    color: #fff;
    transition: color 0.5s;
}

.projectContainer:hover .projectContainerDetails h1 {
    color: #56bbf5d4;
}

.projectContainerDetails {
    max-width: 60%;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.projectContainerDetails a {
    align-self: flex-start;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #111;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: color 0.5s, background-color 0.5s;
}

.projectContainerDetails a:hover {
    color: #111;
    background-color: #fff;
}

.categoryTitle {
    margin: 0 auto 0 0;
    color: #949494;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: normal;
}

.bigTitle {
    color: #fff;
    font-size: 5em;
    font-weight: 500;
}

.backArrow {
    position: absolute;
    height: 50px;
    margin: 2% 0 0 2%;
    transition: transform 0.5s ease;
}

.backArrow:hover {
  transform: translateX(-5px);
}